In [121]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.types import *


conf = SparkConf().setMaster("local[1]").setAppName("SparkSQL")
spark = SparkContext(conf = conf)
sqlContext = SQLContext(spark)

departments_path =  "C:\\Users\hashim.yousaf\Desktop\JupyterNotebooks\DataSamples\HR\departments.csv"
salaries_path = "C:\\Users\hashim.yousaf\Desktop\JupyterNotebooks\DataSamples\HR\salaries.csv"
employees_path = "C:\\Users\hashim.yousaf\Desktop\JupyterNotebooks\DataSamples\HR\employees.csv"
dept_emp_path = "C:\\Users\hashim.yousaf\Desktop\JupyterNotebooks\DataSamples\HR\dept_emp.csv"

In [122]:
department_df= sqlContext.read.csv(departments_path, header=True)
department_df.show(10)

+-------+------------------+
|dept_no|         dept_name|
+-------+------------------+
|   d009|  Customer Service|
|   d005|       Development|
|   d002|           Finance|
|   d003|   Human Resources|
|   d001|         Marketing|
|   d004|        Production|
|   d006|Quality Management|
|   d008|          Research|
|   d007|             Sales|
+-------+------------------+

In [123]:
dept_emp_df = sqlContext.read.csv(dept_emp_path, header=True)
dept_emp_df.show(10)

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
| 10001|   d005|1986-06-26|9999-01-01|
| 10002|   d007|1996-08-03|9999-01-01|
| 10003|   d004|1995-12-03|9999-01-01|
| 10004|   d004|1986-12-01|9999-01-01|
| 10005|   d003|1989-09-12|9999-01-01|
| 10006|   d005|1990-08-05|9999-01-01|
| 10007|   d008|1989-02-10|9999-01-01|
| 10008|   d005|1998-03-11|2000-07-31|
| 10009|   d006|1985-02-18|9999-01-01|
| 10010|   d004|1996-11-24|2000-06-26|
+------+-------+----------+----------+
only showing top 10 rows

In [124]:
numeber_of_employees_in_dept_df = dept_emp_df.join(department_df, dept_emp_df.dept_no==department_df.dept_no).groupBy(dept_emp_df.dept_no)

actual_agg = numeber_of_employees_in_dept_df.count()

dept_count_df =  actual_agg.join(department_df,actual_agg.dept_no == department_df.dept_no)
dept_count_df.select('dept_name', 'count').coalesce(1).write.format('csv').save("C:\\Users\hashim.yousaf\Desktop\JupyterNotebooks\DataSamples\HR\ActualResult.csv", header = 'true')
# dept_count_df.select('dept_name', 'count').write.csv("C:\\Users\hashim.yousaf\Desktop\JupyterNotebooks\DataSamples\HR\ActualResult.csv")

In [125]:
salaries_df= sqlContext.read.csv(salaries_path, header=True)
salaries_df.show(10)
employess_df = sqlContext.read.csv(employees_path, header=True)
employess_df.show(10)

+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
| 10001| 71046|1991-06-25|1992-06-24|
| 10001| 74333|1992-06-24|1993-06-24|
| 10001| 75286|1993-06-24|1994-06-24|
| 10001| 75994|1994-06-24|1995-06-24|
| 10001| 76884|1995-06-24|1996-06-23|
+------+------+----------+----------+
only showing top 10 rows

+------+----------+----------+---------+------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|
+------+----------+----------+---------+------+----------+
| 10001|1953-09-02|    Georgi|  Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|   Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|  Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|  Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi| Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|  Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya| Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|     Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew| Piveteau|     F|1989-08-24|
+------+----------+----------+---------+------+----------+
only showing top 10 rows

In [120]:
spark.stop()